<footer>
  <p>Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a></p>
  <p class="copyright">Build with <a href="https://github.com/bridgetownrb/bridgetown">Bridgetown Ruby</a></p>
  <div class="social-media">
    <a href="https://github.com/NurfitraPujo"><img src="<%= relative_url '/images/github.svg' %>" alt="Nurfitra Pujo S github" /></a>
    <a href="https://www.linkedin.com/in/nurfitrapujo"><img src="<%= relative_url '/images/linkedin.svg' %>" alt="Nurfitra Pujo S github" /></a>
    <a href="https://twitter.com/fitrapujo"><img src="<%= relative_url '/images/twitter.svg' %>" alt="Nurfitra Pujo S github" /></a>
  </div>
</footer>
