<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<!--<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%#= metadata.tagline %><% end %></title>-->

<!--<meta name="description" content="<%#= metadata.description %>" />-->
<%= seo %>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "2a4019a6f49a4531aedff970d492e733"}'></script><!-- End Cloudflare Web Analytics -->

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>
<%= live_reload_dev_js %>
